# ── Server ───────────────────────────────────
PORT=4000
NODE_ENV=development

# ── Database ─────────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password
DB_NAME=KreaLab_Final

# ── JWT ──────────────────────────────────────
JWT_SECRET=krelab_super_secret_key_2025
JWT_EXPIRES_IN=8h

# ── CORS ─────────────────────────────────────
CLIENT_URL=http://localhost:5173
